:host{
  .inner-content-holder{
    height:100%
  }

  fusion-loader.active::after{
    content: '';
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
